
a {
  margin: 10px 5px;
}

img {
  margin: 10px;
}

.nav-div {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  
  font: 11px/18px "proxima-nova", "open-sans", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.nav-container {
  padding: 8px;
  min-width: 500px;
}

#logo {
  height: 62px;
  width: 62px;
}
