/* You can add global styles to this file, and also import other style files */

body {
  background: #FFFFFF;
  box-sizing: border-box;
  margin: 0;
  
  
  font: 11px/18px "proxima-nova", "open-sans", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: white;
}


.landing-image {
  width: 100%;
  padding-bottom: 62%;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 1550px) {
  .landing-image {
    padding-bottom: 960px;
  }
}
